@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h2>Welcome Clear Signals Toastmasters!</h2>
        <hr />
        <h3>Schedule:</h3>
        @await Html.PartialAsync("_MeetingsPartial")
    </div>
</div>
