<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="NlatexdbSettings" type="nlatexdb.NlatexdbSettings,nlatexdb"/>   
  </configSections>

<NlatexdbSettings
CmdLineArgumentVarPrefix="??"
RegexSplitter="/"
VariableSplitter=","
>
<LatexCharReplace>
<add char="€" replace="\euro" />
</LatexCharReplace>
</NlatexdbSettings>
</configuration>